.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.60);
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 360px;
  z-index: 30;
  background-color: white;
  overflow: hidden;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 50px;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 840px;
  height: 60px;
  border: 1px solid #f7f7f7;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.10) 0.5px 0.5px 2px 0.5px;
}

.location-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 360px;
  max-width: 360px;
  height: 100%;
  border-right: 2px solid #f7f7f7;
  cursor: pointer;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 319px;
  max-width: 319px;
  height: 100%;
  border-radius: 16px;
  padding: 0 20px;
}

.location-wrapper-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 319px;
  max-width: 319px;
  height: 100%;
  border: 1px solid;
  border-radius: 16px;
  padding: 0 20px;
}

.div-title {
  font-weight: bold;
  font-size: small;
  margin-bottom: 5px;
}

.div-label {
  color: #8a8a8a;
}

.location-input {
  border: none;
  outline: none;
  font-size: medium;
  padding: 0;
}

.location-input:focus {
  border: none;
  outline: none;
}

.guests-search {
  display: flex;
  border-right: 2px solid #f7f7f7;
  min-width: 259px;
  max-width: 259px;
  height: 100%;
}

.guests-search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 220px;
  max-width: 220px;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}

.guests-search-wrapper-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 220px;
  max-width: 220px;
  height: 100%;
  padding: 0 20px;
  border: 1px solid;
  border-radius: 16px;
  cursor: pointer;
}

.search-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  max-width: 240px;
  height: 100%;;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.results {
  display: flex;
  flex-direction: row;
  width: 840px;
}

.location-results {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.location-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.location-icon {
  margin-right: 5px;
  width: 20px;
}

.guests-count {
  display: flex;
  flex-direction: column;
  margin: 0 370px;
}

.guests-count-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 80px;
  justify-content: space-between;
  margin-top: 26px;
}

.operation-button {
  background-color: #ffffff;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.count-label {
  margin: 0 12px;
}

.search-button {
  display: flex;
  background-color: #eb5757;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 24px;
  cursor: pointer;
}

.search-icon {
  width: 16px;
  margin-right: 10px;
}
